body 
{ 
	font-family: -apple-system, sans-serif;
	text-align: center;
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.backdrop
{
	width: 100%
}

.icon
{
    width:250px;
    height:250px;
}

p
{
    font-size: 60px;
}