body 
{ 
	font-family: -apple-system, sans-serif;
	text-align: center;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.icon
{
    width:250px;
    height:250px;
}

.hp
{
    font-size: 60px;
}